In [1]:
#pip install selenium

In [1]:
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
import pandas as pd

## Useful Methods
find_elements_by_name

find_elements_by_xpath

find_elements_by_link_text

find_elements_by_partial_link_text

find_elements_by_tag_name

find_elements_by_class_name

find_elements_by_css_selector

In [ ]:
#https://www.99.co/singapore/sale?listing_type=sale&map_bounds=1.5827095153768858%2C103.49449749970108%2C1.1090706240313446%2C104.12483807587296&page_num=1&page_size=35&property_segments=commercial%2Cindustrial%2Cland&query_coords=1.3039947%2C103.8298507&query_limit=radius&query_type=city&radius_max=1000&rental_type=unit&show_cluster_preview=true&show_description=true&show_future_mrts=true&show_internal_linking=true&show_meta_description=true&show_nearby=true&zoom=11

In [24]:
driver = webdriver.Chrome('chromedriver')

In [68]:
# driver.get("https://www.99.co/singapore/sale?listing_type=sale&map_bounds=1.5827095153768858%2C103.49449749970108%2C1.1090706240313446%2C104.12483807587296&page_num=3&page_size=35&property_segments=commercial%2Cindustrial%2Cland&query_coords=1.3039947%2C103.8298507&query_limit=radius&query_type=city&radius_max=1000&rental_type=unit&show_cluster_preview=true&show_description=true&show_future_mrts=true&show_internal_linking=true&show_meta_description=true&show_nearby=true&zoom=11")
# sqft = driver.find_elements_by_css_selector(".cUjn9")
# price = driver.find_elements_by_css_selector("._3XjHl")
# name = driver.find_elements_by_css_selector("._2kH6B")

C:\Users\User\AppData\Local\Temp/ipykernel_25232/115211437.py:4: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  sqft = driver.find_elements_by_css_selector(".cUjn9")
C:\Users\User\AppData\Local\Temp/ipykernel_25232/115211437.py:5: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  price = driver.find_elements_by_css_selector("._3XjHl")
C:\Users\User\AppData\Local\Temp/ipykernel_25232/115211437.py:6: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  name = driver.find_elements_by_css_selector("._2kH6B")

In [76]:
sqft_list = []
sqm_list = []
price_list = []
psf_list = []
name_list = []
for s in sqft:
    sqft_list.append(s.text.split("/")[0].split(" ")[0])
    sqm_list.append(s.text.split("/")[1].split(" ")[1])
for i in range(0,len(price)):
    price_list.append(price[i].text.split("\n")[0])
    psf_list.append(price[i].text.split("\n")[1])
    name_list.append(name[i].text)

In [77]:
d = {'name': name_list, 'sqft': sqft_list, 'sqm': sqm_list,'price': price_list,'psf': psf_list}
df = pd.DataFrame(data=d)
df.head()

,name,sqft,sqm,price,psf
0,Factory in Senoko Industrial Estate,"90,595","8,416.55","$16,500,000",$182 psf
1,Factory in Sindo Industrial Estate,"9,400",873.29,"$8,188,000",$871 psf
2,Industrial Office in Pantech Business Hub,"1,894",175.96,"$750,000",$396 psf
3,Shophouse in Kreta Ayer Conservation Area,"2,400",222.97,"$32,000,000","$13,333 psf"
4,Retail in Jalan Kayu Estate,"2,800",260.13,"$6,909,997","$2,468 psf"

In [74]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35 entries, 0 to 34
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   name    35 non-null     object
 1   sqft    35 non-null     object
 2   sqm     35 non-null     object
 3   price   35 non-null     object
 4   psf     35 non-null     object
dtypes: object(5)
memory usage: 1.5+ KB

In [ ]:
"https://www.99.co/singapore/commercial/sale?page_num=" + str(page_num)

In [ ]:
"https://www.99.co/singapore/sale?listing_type=sale&page_num="+str(page_num)+"&property_segments=commercial%ery_limit=radius&query_type=city&radius_max=1000&rental_type=unit&show_cluster_preview=true&show_description=true&show_future_mrts=true&show_internal_linking=true&show_meta_description=true&show_nearby=true&zoom=11"

In [4]:
driver = webdriver.Chrome('chromedriver')
page_num = 1
sqft_list = []
sqm_list = []
price_list = []
psf_list = []
name_list = []
for i in range(0,3):
    driver.get("https://www.99.co/singapore/commercial/sale?page_num="+str(page_num))
    sqft = driver.find_elements_by_css_selector(".cUjn9")
    price = driver.find_elements_by_css_selector("._3XjHl")
    name = driver.find_elements_by_css_selector("._2kH6B")   
    for s in sqft:
        sqft_list.append(s.text.split("/")[0].split(" ")[0])
        sqm_list.append(s.text.split("/")[1].split(" ")[1])
    for i in range(0,len(price)):
        price_list.append(price[i].text.split("\n")[0])
        psf_list.append(price[i].text.split("\n")[1])
        name_list.append(name[i].text)   
    page_num+=1
d = {'name': name_list, 'sqft': sqft_list, 'sqm': sqm_list,'price': price_list,'psf': psf_list}
df = pd.DataFrame(data=d)
print(df.head(5))
print(df.info())

C:\Users\User\AppData\Local\Temp/ipykernel_12944/3736569884.py:10: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  sqft = driver.find_elements_by_css_selector(".cUjn9")
C:\Users\User\AppData\Local\Temp/ipykernel_12944/3736569884.py:11: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  price = driver.find_elements_by_css_selector("._3XjHl")
C:\Users\User\AppData\Local\Temp/ipykernel_12944/3736569884.py:12: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  name = driver.find_elements_by_css_selector("._2kH6B")

                           name   sqft     sqm       price       psf
0     Factory in Eunos Techpark  2,271  210.98    $976,530  $430 psf
1     Factory in Kewalram House  2,282     212  $1,150,000  $504 psf
2       Factory in Oxley Bizhub  1,012   94.02    $650,000  $642 psf
3  Factory in Novelty Bizcentre  1,863  173.08  $1,638,000  $879 psf
4       Factory in Ubi Techpark  3,426  318.29  $1,700,000  $496 psf
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35 entries, 0 to 34
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   name    35 non-null     object
 1   sqft    35 non-null     object
 2   sqm     35 non-null     object
 3   price   35 non-null     object
 4   psf     35 non-null     object
dtypes: object(5)
memory usage: 1.5+ KB
None

In [7]:
# search_bar.clear()
# search_bar.send_keys("getting started with python")
# search_bar.send_keys(Keys.RETURN)

In [9]:
driver.close()