In [1]:
#pip install selenium

In [1]:
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
import pandas as pd

## Useful Methods
find_elements_by_name

find_elements_by_xpath

find_elements_by_link_text

find_elements_by_partial_link_text

find_elements_by_tag_name

find_elements_by_class_name

find_elements_by_css_selector

In [4]:
driver = webdriver.Chrome('chromedriver')
driver.get("https://www.99.co/singapore/commercial/sale?page_num=1")
driver.maximize_window()
#location = driver.find_elements_by_css_selector("._3r4yN XCAFU")
#location = driver.find_elements_by_css_selector("._3iEaC")
location = driver.find_elements_by_css_selector("._1p49F p")
amenities=driver.find_elements_by_css_selector(".L9XlJ")
price = driver.find_elements_by_css_selector("._3XjHl")

# traverse list
#driver.find_element_by_css_selector('.someclass a').get_attribute('href')
amenities

C:\Users\User\AppData\Local\Temp/ipykernel_24064/2724245096.py:6: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  location = driver.find_elements_by_css_selector("._1p49F p")
C:\Users\User\AppData\Local\Temp/ipykernel_24064/2724245096.py:7: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  amenities=driver.find_elements_by_css_selector(".L9XlJ")
C:\Users\User\AppData\Local\Temp/ipykernel_24064/2724245096.py:8: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  price = driver.find_elements_by_css_selector("._3XjHl")

[]

## Create Selenium Bot

In [168]:
driver = webdriver.Chrome('chromedriver')
page_num = 71
sqft_list = []
sqm_list = []
price_list = []
psf_list = []
name_list = []


location_list = []
amenities_list = []
amenities_count = []

for i in range(0,7):
    if i == 1:
        continue
    links = []
    driver.get("https://www.99.co/singapore/commercial/sale?page_num="+str(page_num))
    #driver.maximize_window()
    while True:
        lnks=driver.find_elements_by_css_selector("._2kH6B a")
        if lnks:
            break
        else:
            driver.refresh()
    
    sqft = driver.find_elements_by_css_selector(".cUjn9")
    price = driver.find_elements_by_css_selector("._3XjHl")
    name = driver.find_elements_by_css_selector("._2kH6B")
    print(f"Starting iteration:{str(page_num)}")
    
    for j in range(0,len(price)):
        sqft_list.append(sqft[j].text.split("/")[0].split(" ")[0].replace(",",""))
        sqm_list.append(sqft[j].text.split("/")[1].split(" ")[1])
        price_list.append(price[j].text.split("\n")[0].replace(",","").lstrip('$'))
        psf_list.append(price[j].text.split("\n")[1].replace(",","").lstrip('$').split(" ")[0])
        name_list.append(name[j].text)
        links.append(lnks[j].get_attribute("href"))
    print(f"finish scanning listing names in page {str(page_num)}")    
    
    for l in links:
        word = []
        driver.get(l)
        location = driver.find_elements_by_css_selector("._1p49F p")
        amenities = driver.find_elements_by_css_selector(".L9XlJ")
        if amenities:
            for k in range(0,len(amenities[0].text.split("\n"))):
                word.append(amenities[0].text.split("\n")[k])
            amenities_count.append(len(amenities[0].text.split("\n")))
        else:
            amenities_count.append(0)
        if len(location[0].text.split("\n"))==1:
            location_list.append("")
        else:
            location_list.append(location[-1].text.split("\n")[1].split("/")[-1].strip())
        amenities_list.append(word)
    print(f"finish scanning all elements and listings in page {str(page_num)}")
    page_num+=1

print("Process Finished")

C:\Users\User\AppData\Local\Temp/ipykernel_18380/3059463063.py:21: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  lnks=driver.find_elements_by_css_selector("._2kH6B a")
C:\Users\User\AppData\Local\Temp/ipykernel_18380/3059463063.py:27: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  sqft = driver.find_elements_by_css_selector(".cUjn9")
C:\Users\User\AppData\Local\Temp/ipykernel_18380/3059463063.py:28: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  price = driver.find_elements_by_css_selector("._3XjHl")
C:\Users\User\AppData\Local\Temp/ipykernel_18380/3059463063.py:29: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  name = driver.find_elements_by_css_selector("._2kH6B")

Starting iteration:71
finish scanning listing names in page 71

C:\Users\User\AppData\Local\Temp/ipykernel_18380/3059463063.py:44: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  location = driver.find_elements_by_css_selector("._1p49F p")
C:\Users\User\AppData\Local\Temp/ipykernel_18380/3059463063.py:45: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  amenities = driver.find_elements_by_css_selector(".L9XlJ")

finish scanning all elements and listings in page 71
Starting iteration:72
finish scanning listing names in page 72
finish scanning all elements and listings in page 72
Starting iteration:73
finish scanning listing names in page 73

TimeoutException: Message: timeout: Timed out receiving message from renderer: 300.000
  (Session info: chrome=98.0.4758.102)
Stacktrace:
Backtrace:
	Ordinal0 [0x0106FDC3+2555331]
	Ordinal0 [0x010077F1+2127857]
	Ordinal0 [0x00F02E08+1060360]
	Ordinal0 [0x00EF53A8+1004456]
	Ordinal0 [0x00EF43FA+1000442]
	Ordinal0 [0x00EF47C7+1001415]
	Ordinal0 [0x00EFE4FF+1041663]
	Ordinal0 [0x00F0884B+1083467]
	Ordinal0 [0x00F0AF60+1093472]
	Ordinal0 [0x00EF4AC6+1002182]
	Ordinal0 [0x00F086EC+1083116]
	Ordinal0 [0x00F578C6+1407174]
	Ordinal0 [0x00F47976+1341814]
	Ordinal0 [0x00F236B6+1193654]
	Ordinal0 [0x00F24546+1197382]
	GetHandleVerifier [0x01209622+1619522]
	GetHandleVerifier [0x012B882C+2336844]
	GetHandleVerifier [0x011023E1+541697]
	GetHandleVerifier [0x01101443+537699]
	Ordinal0 [0x0100D18E+2150798]
	Ordinal0 [0x01011518+2168088]
	Ordinal0 [0x01011660+2168416]
	Ordinal0 [0x0101B330+2208560]
	BaseThreadInitThunk [0x770DFA29+25]
	RtlGetAppContainerNamedObjectPath [0x773A7A9E+286]
	RtlGetAppContainerNamedObjectPath [0x773A7A6E+238]

In [151]:
d = {'name': name_list, 'sqft': sqft_list, 'sqm': sqm_list,
     'psf': psf_list, 'location':location_list, 'amenities':amenities_list,'amenities_count':amenities_count,
     'price': price_list}

In [95]:
#1 to 10
df1 = pd.DataFrame(data=d)
df1.head()

,name,sqft,sqm,psf,location,amenities,amenities_count,price
0,Factory in Shine@Tuas South,3391,315.03,478,Tuas (D22),[],0,1620735
1,Factory in Lam Soon Industrial Building,1658,154.03,802,Choa Chu Kang (D23),[],0,1330000
2,Office in Plus,3477,323.02,3088,Marina (D1),"[Air conditioning, Security access]",2,10736419
3,Office in Plus,1647,153.01,3258,Marina (D1),"[Air conditioning, Security access]",2,5365883
4,Office in Plus,2304,214.05,3272,Marina (D1),"[Air conditioning, Security access]",2,7537855

In [128]:
#11 to 20 
df2 = pd.DataFrame(data=d)
df2.head()

,name,sqft,sqm,psf,location,amenities,amenities_count,price
0,Retail in Orchard Plaza,226,21,7080,River Valley (D9),[],0,1600000
1,Retail in Orchard Plaza,183,17,10929,River Valley (D9),[],0,2000000
2,Warehouse in Midview City,1357,126.07,958,Thomson (D20),[],0,1300000
3,Shophouse in 443 Clementi Avenue 3,1625,150.97,4246,Clementi (D5),[24 hr access],1,6900000
4,Shophouse in 481 Tampines Street 44,1797,166.95,1669,Tampines (D18),[Air conditioning],1,3000000

In [133]:
#21 to 30
df3 = pd.DataFrame(data=d)
df3.head()

,name,sqft,sqm,psf,location,amenities,amenities_count,price
0,Warehouse in 7 Tuas South Street 11,65000,"6,038.69",154,Tuas (D22),[],0,10000000
1,Retail in 725 Clementi West Street 2,1636,151.99,2439,Clementi (D5),[],0,3990000
2,Factory in Pioneer Junction,1507,140,239,Tuas (D22),[],0,360000
3,Retail in Sultan Plaza,893,82.96,1960,Rochor (D7),[],0,1750000
4,Retail in Hexacube,387,35.95,4599,Paya Lebar (D14),[],0,1780000

In [138]:
#31 to 50
df4 = pd.DataFrame(data=d)
df4.head()

,name,sqft,sqm,psf,location,amenities,amenities_count,price
0,Factory in Techniques Centre,1248,115.94,429,Paya Lebar (D14),[],0,535000
1,Retail in Katong Shopping Centre,205,19.05,3512,Marine Parade (D15),[],0,720000
2,General Industrial in Techniques Centre,1200,111.48,442,Paya Lebar (D14),"[Loading bay, Column free, Car park, Pantry, 2...",6,530000
3,Factory in Northland Industrial Building 1,3540,328.88,218,Yishun (D27),[],0,770000
4,Retail in Katong Shopping Centre,205,19.05,3512,Marine Parade (D15),[],0,720000

In [148]:
dfx = df1.copy()
dfx = dfx.append(df2,ignore_index=True)
dfx = dfx.append(df3,ignore_index=True)
dfx = dfx.append(df4,ignore_index=True)
dfx.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1750 entries, 0 to 1749
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   name             1750 non-null   object
 1   sqft             1750 non-null   object
 2   sqm              1750 non-null   object
 3   psf              1750 non-null   object
 4   location         1750 non-null   object
 5   amenities        1750 non-null   object
 6   amenities_count  1750 non-null   int64
 7   price            1750 non-null   object
dtypes: int64(1), object(7)
memory usage: 109.5+ KB

In [149]:
dfx.to_csv("Commercial_Property.csv")

In [152]:
#51 to 70
df5 = pd.DataFrame(data=d)
df5.head()

,name,sqft,sqm,psf,location,amenities,amenities_count,price
0,General Industrial in Kaki Bukit Techpark I,16200,"1,505.03",358,Paya Lebar (D14),"[Bath room, Loading bay, Pantry, Car park, 24 ...",6,5800000
1,General Industrial in Westlink Two,3369,312.99,445,Tuas (D22),[],0,1500000
2,Retail in Spazio @ Kovan,786,73.02,2265,Sengkang (D19),"[Loading bay, Column free, 24 hr access, Pantr...",5,1780000
3,Retail in Stars Of Kovan,440,40.88,5195,Sengkang (D19),[Air conditioning],1,2286000
4,Retail in Stars Of Kovan,441,40.97,5184,Sengkang (D19),[Column free],1,2286000

In [155]:
dfx = dfx.append(df5,ignore_index=True)
dfx.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2450 entries, 0 to 2449
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   name             2450 non-null   object
 1   sqft             2450 non-null   object
 2   sqm              2450 non-null   object
 3   psf              2450 non-null   object
 4   location         2450 non-null   object
 5   amenities        2450 non-null   object
 6   amenities_count  2450 non-null   int64
 7   price            2450 non-null   object
dtypes: int64(1), object(7)
memory usage: 153.2+ KB

In [156]:
dfx.to_csv("Commercial_Property1.csv")

In [ ]:
#71 to 77
df6 = pd.DataFrame(data=d)
df6.head()

In [9]:
driver.close()